h2 {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 700;
    color: $base-color;
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center;
    text-transform: uppercase;
}