.copyright {
    display: flex;
    background:#5363d8;
    justify-content: center;
    color: #fff;
    padding: 20px 0;
    align-items: center;

    .icon-copyright {
        color: black;
        font-size: 20px;
        align-items: center;
        margin: 0 5px;
    }
}